# --- Data ---
# Ignore the specific local data directory downloaded by your script
data/
# Ignore any generic data or large file directories
data/
*.csv
*.json
*.parquet
*.h5

# --- Virtual Environments ---
.venv/
venv/
env/
bin/
obj/

# --- Python Cache & Compiled Files ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# --- Environment Secrets & Config ---
.env
.flaskenv
secrets.json

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log

# --- Models ---
src/models/
*.pt
